<ion-content >
    <div class="scrollBar">
  <ion-grid class="header">
    <ion-row>
      <ion-col size="1">
        <a ion-button color="secondary" href="create_dare_and_aware.html">
          <img class="logo_notefication_user" src="assets/images/user.png">
        </a>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar placeholder="Search..." color="light"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
        <img class="logo_notefication_well" src="assets/images/well.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="itm_width">
    <span >
      Notification
    </span>
  </ion-item>
  <ion-list lines="none">
    <ion-item>
      <img src="/assets/images/001.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <img src="/assets/images/002.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <img src="/assets/images/003.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item class="itm_width">
    <span >
      Earlier
    </span>
  </ion-item>
  <ion-list lines="none">
    <ion-item>
      <img src="/assets/images/001.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <img src="/assets/images/002.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <img src="/assets/images/003.png">
      <ion-label text-wrap class="lbl_mrgn">
        <ion-text class="all_text">
          It's Name birthday today. let know tha you,re thinkin about him!
        </ion-text>
        <div class="all_text">
          8 hours ago
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
    </div>
</ion-content>
<ion-footer class="center">
		<ion-row>
			<ion-col>
				<a href="start_page.html"><img src="assets/images/home.png"></a>
			</ion-col>
			<ion-col>
				<a href="dare.html"><img src="assets/images/dare.png"></a>
			</ion-col>
			<ion-col>
				<a href="aware.html"><img src="assets/images/aware.png"></a>
			</ion-col>
			<ion-col>
				<a href="profile.html"><img src="assets/images/user2.png"></a>
			</ion-col>
		</ion-row>
	</ion-footer>