<ion-content padding-top padding-bottom padding-start padding-end class="tax">
  <div>
    <form (ngSubmit)="signin()">
    <ion-list lines="none" padding-start padding-end margin-bottom>
        <ion-row>
            <ion-col >
                <img src="/assets/images/0001.png" style="margin-left: 20%;">
            </ion-col>
          </ion-row>
      <ion-row class="d-flex flex-row-reverse main_position" padding-top padding-bottom style="    margin-top: -45px;">
        <ion-col class="col-xs-6">
          <select class="dropdowns language1" style=" margin-left: 59%; margin-top: 50px; "  name="center_name">
            <option>English</option>
            <option value="NEWTON">Hindi</option>
            <option value="NEEDHAM">Punjabi</option>
            <option value="WELLESLEY">Arbic</option>
            <option value="BOSTON">Tamil</option>
          </select>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="txt_css">
          <ion-input placeholder="Phone number, username, or email" name="email" [(ngModel)]="signinModel.email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt_css">
          <ion-input placeholder="Password" name="password" [(ngModel)]="signinModel.password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col style="margin-top: 15px !important;">
          <ion-button class="btn_css " type="submit">
            Log in
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col >
          <ion-label class="lbl_mrgn" >OR</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 20px; margin-top: 20px;">
        <ion-col>
          <ion-label style="font-size: 14px;" class="frgt_mrgn">  <img class ="fb" src="/assets/images/fb.png"> Log in with Facebook</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btn_signin">
          <ion-input class="btn_signup" >Don't have an account?<a class="forget" href="/signup">Sign up</a></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="lbl_get">
        <ion-col >
          <ion-label >Get the app.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="Ggl_btn" >
        <ion-col >
          <img class="firstimg" src="/assets/images/01.png">
          <img class="firstimg" src="/assets/images/02.png">
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
  </div>
</ion-content>