<ion-content padding-top padding-bottom padding-start padding-end class="tax">
  <div class="scrollBar">
    <form (ngSubmit)="signin()">
    <ion-list lines="none" padding-start padding-end margin-bottom>
        <ion-row>
            <ion-col >
                <img src="/assets/images/0001.png" class="ttl_mrgn">
            </ion-col>
          </ion-row>
      <ion-row class="d-flex flex-row-reverse main_position ion_row_mrgn" padding-top padding-bottom >
        <ion-col class="col-xs-6">
          <select class="dropdowns language1 slctStyle" name="center_name">
            <option>English</option>
            <option value="NEWTON">Hindi</option>
            <option value="NEEDHAM">Punjabi</option>
            <option value="WELLESLEY">Arbic</option>
            <option value="BOSTON">Tamil</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
            <ion-item class="txt_css">
                <ion-label class="label_color" position="floating">Phone number, username, or email</ion-label>
                <ion-input name="userName" [(ngModel)]="signinModel.username_email"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
            <ion-item class="txt_css">
                <ion-label class="label_color" position="floating">Password</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="signinModel.password"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col  class="ion_col_mrgn">
          <ion-button color="#7b98d6" class="btn_css " type="submit">
            Log in
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col >
          <ion-label class="lbl_mrgn" >OR</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion_row_mrgn_second">
        <ion-col>
          <ion-label class="frgt_mrgn">  <img class ="fb" src="/assets/images/fb.png"> Log in with Facebook</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btn_signin">
          <ion-input class="btn_signup" >Don't have an account?<a class="forget" href="/signup">Sign up</a></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="lbl_get">
        <ion-col >
          <ion-label >Get the app.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="Ggl_btn" >
        <ion-col >
          <img class="firstimg" src="/assets/images/01.png">
          <img class="firstimg" src="/assets/images/02.png">
        </ion-col>
      </ion-row>
    </ion-list>
    </form>
  </div>
</ion-content>