.headerStyle{
    background-color:#7b98d6 !important
}
img.user {
    width: 50px;
}
.dare {
    text-align: center;
}
p.edit {
    border: 2px solid #c5c5c5;
    line-height: 16px;
    margin: 0px 3px 0px 6px;
    position: absolute;
    bottom: 36%;
    left: 39%;
    font-weight: bold;
    color: #385185;
}
p.Name_txt {
    font-weight:normal;
    padding: 5px 10px 0 10px;
    margin-top:2px;
    float: right;
}
.dare_text {
    margin-top: 13px;
    margin-left: 0px;
	text-align: center;
}
.d-flex.justify-content-around.-edit_profile {
    margin-top: -6px;
    border-left: none;
    border-right: none;
    width: 100%;
}
.darerelative {
    position: relative;
}
.center {
    text-align: center;
}
img.user_2 {
    width: 40px;
    padding-top: 12px;
    margin-left: 10px;
}
.banner_dare {
    width: 100%;
}
p.color {
    color: #385185;
}
.dare_bold {
    font-weight: bold;
    font-size: 12px;
}
.numbering {
    padding-left: 10px;
}
.like_section {
    padding-top: 10px;
}
.block_seven input {
    width: 94%;
    height: 40px;
    border-radius: 11px;
    padding-left: 12px;
    background: #f6f6f6;
    border: none;
}
.user_3 {
    margin-top: 12px;
}
.size1 {
    position: absolute;
    right: 15%;
    top: 40%;
}
.cursor {
    cursor: pointer;
}
.start_img {
    padding-top: 10px;
    display: block;
    margin: auto;
}
.sub_txt {
    font-size: 10px;
}
a.color {
    text-decoration: none;
}
button.color.all_text.cursor {
    color: #337ab7;
    background: no-repeat;
    border: none;
}
input.form-control.search_img.all_text {
    padding-top: 2px;
}
input.user_3.all_text {
    padding-right: 104px;
}
.dropdown-menu.dare_drop {
    position: absolute;
    left:-475%;
}
.name_link:focus, .name_link:hover {
    color: #000;
    text-decoration: none;
}
.name_link {
    color: #000;
}
.more1 {
    padding-top: 2px;
}
button.btn.btn-default.share_cancle.all_text {
    background: #aec9e8;
    padding: 2px 18px 3px 18px;
    color: white;
    border-radius: none !important;
	border: none;
}
.modeal1 {
    border-top: none;
}
.more123 {
    margin-top: 2px;
    color:#337ab7;
}
.more123:hover{
	color:#0056b3;
    }
    
   :host /deep/ .item-inner{
    border: none !important;}
    
    .full_form{
        width: 70em;
        margin: 0 auto;
        margin-top: 7px;
    }
    .row{
        width: 25em !important;
    }
    .row1{
        padding: 0 170px 0 50px !important;
    }
    .inputShape{
        border-radius: 5px;
        margin-bottom: 5px;
        border: 1px solid;
        border-color: #f6f6f6;
        background-color: #f6f6f6;
        width: 30em;
        padding: 4px !important;
    }

    .para{
        margin-left: 2em !important;
    }