<ion-header class="headerStyle">
	<div class="form_full" id="bg">	
		<div class="popup-head" ><a href="create_dare_and_aware.html"><img class="logo_notefication_user" src="images/user.png" ></a> 
			<div class="input-group">
				<input  type="text" placeholder="Search..." name="" class="form-control search_img all_text">
			</div>
				<div class="input-group-prepend ">
					<a href="notification.html"><img class="logo_notefication_well" src="images/well.png" >	</a>			
				</div>
		</div>
	</div>
</ion-header>

<ion-content class="contentStyle">
	<div class="form_full" id="bg">	
		<div class="d-flex justify-content-around edit_profile">	
		<div class="p-2 center start_bg1 start_header "><img class="start_img" src="images/white_aware.png"> 
			<P class="start_para all_text">Ruchi</P>
		</div>
		<div class="p-2 center start_bg2 start_header"><img class="start_img" src="images/white_aware.png">
			<P class="start_para all_text">Rajani</P>
		</div>
		<div class="p-2 center start_bg3 start_header"><img class="start_img" src="images/white_dare.png">
			<P class="start_para all_text">Rohan</P>
		</div>
		<div class="p-2 center start_bg4 start_header"><img class="start_img" src="images/white_dare.png">
			<P class="start_para all_text">Mohan</P>
		</div>
		<div class="p-2 center start_bg5 start_header"><img class="start_img" src="images/white_aware.png">
			<P class="start_para all_text">Ruchi</P>
		</div>
	</div>
	<div class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="profile.html"><img class="user_2" src="images/bg_user.png">
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a  class="name_link" href="#"><span class="dare_bold">Name</span class="all_text"></a><span class="all_text"> aware to</span><span class="dare_bold"><a  class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</div>
	<p class="all_text">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<div class="banner_one">
			<div class="row">
				<div class="col-md-12 ">
					<img class="banner_dare" src="images/banner_start.png">
				</div>
			</div>
	</div>
	 <div class="d-flex justify-content-around like_section">	
		<div class="p-2 "><img src="images/like.png" ><span class="numbering all_text">1,998</span></div>
		<div class="p-2 "><img src="images/comment.png" ><span class="numbering all_text">50</span></div>
		<div class="p-2 "><img src="images/user_search.png" ><span class="numbering all_text">2,000</span></div>
		<div class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal"> <img class="option_img"src="images/option.png" ></button>
			<span class=" all_text option_txt">1,000</span>
		</div>
	 </div>	
	<div class="block_seven Seprater">
		<div class="row">
			<div class="col-md-2 col-xs-2 ">
				<img class="user_2" src="images/bg_user.png">
			</div>
			<div class="col-md-10 col-xs-10 darerelative">
				<input class="user_3 all_text" type="text" name="" placeholder="write a comment">
				<div class="size1">
					<img class="same_sm" src="images/smile.png" >
					<img class="same_ca" src="images/camera_aware.png">
					<img class="same_ve" src="images/vedio.png">
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="profile.html"><img class="user_2" src="images/bg_user.png"></a>
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a class="name_link" href="#"><span class="dare_bold">Name </span class="all_text"></a> <span class="dareto">dare to</span><span class="dare_bold"><a class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</div>
		<p class="all_text">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<div class="banner_one">
		<div class="row">
			<div class="col-md-12 ">
				<img class="banner_dare" src="images/banner_dare.png">
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-around like_section">	
		<div class="p-2 "><img src="images/like.png" ><span class="numbering all_text">1,998</span></div>
		<div class="p-2 "><img src="images/comment.png" ><span class="numbering all_text">50</span></div>
		<div class="p-2 "><img src="images/user_search.png" ><span class="numbering all_text">2,000</span></div>
		<div class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal"> <img class="option_img"src="images/option.png" ></button>
			<span class=" all_text option_txt">1,000</span>
		</div>
	</div>	
	<div class="block_seven Seprater">
		<div class="row">
			<div class="col-md-2 col-xs-2 ">
				<img class="user_2" src="images/bg_user.png">
			</div>
			<div class="col-md-10 col-xs-10 darerelative">
				<input class="user_3 all_text" type="text" name="" placeholder="write a comment">
				<div class="size1">
					<img class="same_sm" src="images/smile.png" >
					<img class="same_ca" src="images/camera_aware.png">
					<img class="same_ve" src="images/vedio.png">
				</div>
			</div>
		</div>
	</div>
</div>		
</div>	
<div class="form_full">	
 <div class="d-flex justify-content-around">	
	<div class="p-2 "><a href="start_page.html"><img src="images/home.png" ></a></div>
	<div class="p-2 "><a href="dare.html"><img src="images/dare.png" ></a></div>
	<div class="p-2 "><a href="aware.html"><img src="images/aware.png" ></a></div>
	<div class="p-2 "><a href="profile.html"><img src="images/user2.png" ></a></div>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-body">
				<div class="d-flex bd-highlight  more_txt share search outline">
					<span class="user_info_share all_text tag_txt all_text">Share on your Dare<img class="share_drop tag_txt" src="images/share_dropdown.png" > </span>
				</div>
				<div class="d-flex bd-highlight  more_txt search outline">
					<p class="tag_txt all_text share_width">Name <span class="share_txt all_text"><span class="dareto">dare to </span></span>Friend Name <img class=" ml-auto" src="images/edit_share.png"></p>
				</div>
				<div class="d-flex bd-highlight more_txt outline">
					<img class="share_img" src="images/share_img.png"></p>
				</div>
				<div class="d-flex bd-highlight  more_txt search share-footer outline">
					<div class="p-2"><img src="images/smile_share.png" class="smile_share"></div>
					<div class="p-2 icon"><img src="images/location_share.png"></div>
					<!-- <div class="p-2 button"><button class="share_cancle all_text">Cancel</button></div> -->
					<div class="modal-footer modeal1 p-2 button">
						<button type="button" class="btn btn-default share_cancle all_text" data-dismiss="modal">Cancel</button>
					</div>
					<div class="p-2 button"><button class="share_post all_text">Post</button></div>
				</div>	
					<!-- <img class="share_footer" src="images/share_arrow.png" > -->
			</div>	
		  </div>
		</div>
  </div>
</div>
</ion-content>
<ion-footer class="center footer">
	<ion-row>
		<ion-col>
			<a href="start_page.html"><img src="assets/images/home.png"></a>
		</ion-col>
		<ion-col>
			<a href="dare.html"><img src="assets/images/dare.png"></a>
		</ion-col>
		<ion-col>
			<a href="aware.html"><img src="assets/images/aware.png"></a>
		</ion-col>
		<ion-col>
			<a href="profile.html"><img src="assets/images/user2.png"></a>
		</ion-col>
	</ion-row>
</ion-footer>