<ion-header style="background-color:#7b98d6 !important">
	<ion-toolbar color="#7b98d6 !important" style="background-color:#7b98d6 !important">
		<ion-title style="background:#7b98d6;">
			<img src="assets/images/left_arrow.png" class="darwarimgHeader">
			<h4 class="create_txt darwarTextHeader">Create dare or aware</h4>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="none" class="pad-item">
		<img class="logo_notefication1" src="assets/images/bg_user.png">
		<span class="online_icon"></span>
		<ion-grid lines="none" class="all_text dare_bold cursor" style="border:none !important;">
			<ion-label style="margin-left: 15px;">Name</ion-label>
			
			<ion-item lines="none" style="border:none !important;">
				<select placeholder="Dare" class="dropSetting" style="margin-right: 12px;">
					<option>Dare</option>
					<option>Aware</option>
				</select>
				<select placeholder="Public" class="dropSetting">
					<option>Public</option>
					<option value="NEWTON">Friends</option>
					<option value="NEEDHAM">Only Me</option>
					<option value="WELLESLEY">Custom</option>
					<option value="BOSTON">Close Friends</option>
				</select>
			</ion-item>
		</ion-grid>
	</ion-item>

	<ion-textarea class="textArea"  id="comment"
		placeholder="Write Something...."></ion-textarea>

	<ion-item lines="none" class="d-flex bd-highlight main_note_txt">
		<ion-list class="img_cont">
			<img class="create_img" src="assets/images/Photo.png">
			<span class="online_icon"></span>
		</ion-list>
		<ion-list class="user_info_txt">
			<span class="all_text">Photo</span>
		</ion-list>
	</ion-item>
	<ion-item lines="none" class="d-flex bd-highlight main_note_txt">
		<ion-list class="img_cont">
			<img class="create_img" src="assets/images/Video.png">
			<span class="online_icon"></span>
		</ion-list>
		<ion-list class="user_info_txt">
			<span class="all_text">Video</span>
		</ion-list>
	</ion-item>
	<ion-item lines="none" class="d-flex bd-highlight main_note_txt">
		<ion-list class="img_cont">
			<img class="create_img" src="assets/images/Tag-Friends.png">
			<span class="online_icon"></span>
		</ion-list>
		<ion-list class="user_info_txt">
			<span class="all_text">Tag Friends</span>
		</ion-list>
	</ion-item>
	<ion-item lines="none" class="d-flex bd-highlight main_note_txt">
		<ion-list class="img_cont">
			<img class="create_img" src="assets/images/Location.png">
			<span class="online_icon"></span>
		</ion-list>
		<ion-list class="user_info_txt">
			<span class="all_text">Location</span>
		</ion-list>
	</ion-item>
	<ion-item lines="none" class="d-flex bd-highlight main_note_txt">
		<ion-list class="img_cont">
			<img class="create_img" src="assets/images/Feeling.png">
			<span class="online_icon"></span>
		</ion-list>
		<ion-list class="user_info_txt">
			<span class="all_text">Feeling</span>
		</ion-list>
	</ion-item>

	<div class="buttonFoot" style="background:#7b98d6 !important">
		<!-- <p class="text-center wt100 all_text">Post</p>  -->
		<ion-button type="button" color="#7b98d6 !important" expand="full">Post</ion-button>
	</div>

</ion-content>