<ion-header style="background-color:#7b98d6 !important">
	<ion-toolbar color="#7b98d6 !important" style="background-color:#7b98d6 !important">
		<ion-title style="background:#7b98d6;">
			<img src="assets/images/left_arrow.png" style="float: left; margin-top:2px;">
			<h4 class="create_txt" style="float: inherit;margin-left: 42em !important;">Create dare or aware</h4>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="form_full" id="bg">

		<div class="d-flex bd-highlight main_note_txt" class="item-inner">
			<div class="d-flex bd-highlight post_size" style="border:none !important">
				<ion-item class="img_cont">
					<img class="logo_notefication1" src="assets/images/bg_user.png">
					<span class="online_icon"></span>
					<ion-item class="all_text dare_bold cursor" style="border:none !important">
						<ion-label>Name</ion-label>
					
					<ion-item style="border:none !important; ">
						<ion-select placeholder="Dare" class="dropSetting" style="margin-right: 12px;">
							<ion-select-option>Dare</ion-select-option>
							<ion-select-option>Aware</ion-select-option>
						</ion-select>
						<ion-select placeholder="Public" class="dropSetting">
							<ion-select-option>Public</ion-select-option>
							<ion-select-option value="NEWTON">Friends</ion-select-option>
							<ion-select-option value="NEEDHAM">Only Me</ion-select-option>
							<ion-select-option value="WELLESLEY">Custom</ion-select-option>
							<ion-select-option value="BOSTON">Close Friends</ion-select-option>
						</ion-select>
					</ion-item>
				</ion-item>
</ion-item>
			</div>
		</div>
		<div class="d-flex bd-highlight textArea " id="textarea">
			<ion-textarea class="form-control all_text" style="height: 200px !important" id="comment"
				placeholder="Write Something...."></ion-textarea>
		</div>
		<ion-item class="d-flex bd-highlight main_note_txt">
			<ion-list class="img_cont">
				<img class="create_img" src="assets/images/Photo.png">
				<span class="online_icon"></span>
			</ion-list>
			<ion-list class="user_info_txt">
				<span class="all_text">Photo</span>
			</ion-list>
		</ion-item>
		<ion-item class="d-flex bd-highlight main_note_txt">
			<ion-list class="img_cont">
				<img class="create_img" src="assets/images/Video.png">
				<span class="online_icon"></span>
			</ion-list>
			<ion-list class="user_info_txt">
				<span class="all_text">Video</span>
			</ion-list>
		</ion-item>
		<ion-item class="d-flex bd-highlight main_note_txt">
			<ion-list class="img_cont">
				<img class="create_img" src="assets/images/Tag-Friends.png">
				<span class="online_icon"></span>
			</ion-list>
			<ion-list class="user_info_txt">
				<span class="all_text">Tag Friends</span>
			</ion-list>
		</ion-item>
		<ion-item class="d-flex bd-highlight main_note_txt">
			<ion-list class="img_cont">
				<img class="create_img" src="assets/images/Location.png">
				<span class="online_icon"></span>
			</ion-list>
			<ion-list class="user_info_txt">
				<span class="all_text">Location</span>
			</ion-list>
		</ion-item>
		<ion-item class="d-flex bd-highlight main_note_txt">
			<ion-list class="img_cont">
				<img class="create_img" src="assets/images/Feeling.png">
				<span class="online_icon"></span>
			</ion-list>
			<ion-list class="user_info_txt">
				<span class="all_text">Feeling</span>
			</ion-list>
		</ion-item>
		<div class="d-flex bd-highlight createwt100 " style="background:#7b98d6 !important">
			<!-- <p class="text-center wt100 all_text">Post</p>  -->
			<ion-button type="button"  color="#7b98d6 !important" expand="block">Post</ion-button>
		</div>
	</div>
</ion-content>