
/* =======================================================
                 create dare and aware
======================================================= */
.create_txt {
    color: white;
    font-weight: bold;
    margin-top: 2px;
	font-size:14px;
} 
select.dropdowns {
    margin-top: 20px;
	margin-bottom: 10px;
}
.all_text {
    font-size: 12px;
}
.post_texts {
    padding-top: 15px;
    padding-left: 15px;
}
.post_size {
    margin-bottom: 5%;
}
.public {
    padding: 0px;
}
 
.dropSetting{
    border: .1px solid;
border-color: lightgray;
height: 20px;
margin-top: 8px;
}
.textArea{
    border: 1px solid;
    border-color: lightgray !important;
    height: 200px !important; 
    border: 1px solid; 
    width: calc(100% - 10px);
    border-radius: 0;
    background: transparent;
}
.buttonFoot{
width: 100% ; 
background:#7b98d6 !important;

}
.darwarimgHrader
{
    float: left !important; 
    margin-top: 1% !important;
}
.darwarTextHeader
{
    float: left !important;
    margin-left: 35% !important;
    margin-top: 1% !important;
}
.pad-item{
    padding-bottom:5px !important;
    padding-top: 10px;
    padding-right: 20px;
}


