.btn_css{
    margin-top: -25px;
    margin-left: 17%;
    width: 60%;
    height: 30px;
    font-size: 10px;
    // background: #7b98d6 !important;
   
}
.txt_css{
    background: #fafafa;
    margin-left: 17%;
    margin-right: 23%;
    font-size: 11px;
    margin-bottom: 10px;
    
}
.anch{
    margin-left: 35%;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    padding: 20px;
}
.btn_signin{
    font-size: 12px;
    text-align: center;
    background: #fafafa;
    border: 2px solid #f3f3f3;
    margin-left: 17%;
    margin-right: 23%;
}
.frgt_mrgn{
    margin-top: 20px;
    margin-bottom: 20px;
}
