.btn_css{
    margin-top: -25px;
    margin-left: 9%;
    width: 69%;
    height: 30px;
    font-size: 10px;   
}
.txt_css{
    background: #fafafa;
    margin-left: 9%;
    margin-right: 23%;
    font-size: 11px;
    margin-bottom: 10px;
    
}
.anch{
    margin-left: 30%;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    padding: 20px;
}
.btn_signin{
    font-size: 12px;
    text-align: center;
    background: #fafafa;
    border: 2px solid #f3f3f3;
    margin-left: 9%;
    margin-right: 23%;
}
.frgt_mrgn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.lbl_get{
    margin-left: 33%;
    margin-top: 45px;
    margin-bottom: 26px;
}
.Ggl_btn{
    margin-left: 13%;
<<<<<<< .mine
}
.ion-color-appbtnColor {
    --ion-color-base: #7b98d6;
  }














=======
}
.btn_signup{
    margin-left: 22%; 
    color: #999999; 
    font-size: 12px; 
    height: 40px;
}
.forget{
    margin-top: 5px;
}
.btn_signin{
    font-size: 14px;
    text-align: center;
    background: #fafafa;
    border: 2px solid #f3f3f3;
    margin-left: 9%;
    margin-right: 23%;
}
>>>>>>> .theirs
