<ion-header class="headerStyle">
	<ion-grid>
		<ion-row>
			<ion-col size="1">
				<a ion-button color="secondary" href="create_dare_and_aware.html">
					<img class="logo_notefication_user" src="assets/images/user.png">
				</a>
			</ion-col>
			<ion-col size="10">
				<ion-toolbar color="blueHeader">
					<ion-searchbar placeholder="Search..." color="light"></ion-searchbar>
				</ion-toolbar>
			</ion-col>
			<ion-col size="1">
				<img class="logo_notefication_well" src="assets/images/white_camera.png">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content>
	<div class="scrollBar">
	<ion-item lines="none" class="full_form" id="bg">


		<ion-row class="d-flex row justify-content-around">
			<ion-col size="4" class="p-2 dare darerelative"><a href="#"><img class="user"
						src="assets/images/bg_user.png"></a>

				<p class="edit all_text">+ Edit</p>
				<p class="Name_txt">GURPAL</p>
			</ion-col>
			<ion-col size="2" class="p-2 dare_text cursor "><b>600</b>
				<P class="color all_text cursor">Dare</P>
			</ion-col>
			<ion-col size="2" class="p-2 dare_text cursor"><b>800</b>
				<p class="color all_text cursor">Aware</p>
			</ion-col>
			<ion-col size="2" class="p-2 dare_text cursor"><b>900</b>
				<p class="color all_text cursor">Followers</p>
			</ion-col>
			<ion-col size="2" class="p-2 dare_text cursor"><b>600</b>
				<p class="color all_text cursor">Followers</p>
			</ion-col>
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="row1">
		<ion-row lines="none" class="d-flex justify-content-around -edit_profile  main_position">

			<ion-col class="p-2 center "><a href="edit.html"><img class="cursor"
						src="assets/images/edit_profile.png"></a>
				<p><a class="color all_text cursor" href="edit.html">Edit Profile</a></p>
			</ion-col>
			<ion-col class="p-2  center dd"><a href="dare.html"><img class="cursor"
						src="assets/images/blue_dare.png"></a>
				<p><a class="color all_text cursor " href="dare.html">Dare</a></p>
			</ion-col>
			<ion-col class="p-2 center dd"><a href="aware.html"><img class="cursor" src="assets/images/aware.png"></a>
				<p><a class="color all_text cursor" href="aware.html">Aware</a></p>
			</ion-col>
			<ion-col class="p-2 center dd"><a href="#"><img class="cursor" src="assets/images/more_circle.png"></a>
				<p><a class="color all_text cursor" href="aware.html">More</a></p>
			</ion-col>
			<!-- <ion-col class="dropdown p-2 center dd">
				<p><a class="color all_text cursor first"><img src="assets/images/more_circle.png"><br>
					<p class="more123 ">More</p>
				</a></p>
				<ion-col class="dropdown">
				<button class="color all_text cursor language second" id="formButton" type="button"
					data-toggle="dropdown" style="display:none;"><img src="assets/images/more_circle.png"><br>
					<p class="more123">More</p>
				</button>
				<ion-select class="dropdown-menu dare_drop all_text" id="form1">
					<ion-select-option><a href="#">Block User</a></ion-select-option>
					<ion-select-option><a href="#">Report</a></ion-select-option>
					<ion-select-option><a href="#">Copy Profile URL</a></ion-select-option>
					<ion-select-option><a href="#">Share this Profile</a></ion-select-option>
					<ion-select-option><a href="#">Send Message</a></ion-select-option>
					<ion-select-option><a href="#">Turn on Post Notification</a></ion-select-option>
					<ion-select-option><a class="user_info_more all_text">Cancel</a></ion-select-option>
				</ion-select>
			</ion-col> -->
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="#"><img class="user_2" src="assets/images/bg_user.png"></a>
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a class="name_link" href="#"><span class="dare_bold all_text">Name </span></a> <span class="dareto">dare
				to</span><span class="dare_bold"><a class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</ion-item>
	<p class="all_text para">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<ion-item lines="none" class="banner_one">
		<ion-row class="row">
			<ion-col class="col-md-12 ">
				<img class="banner_dare" src="assets/images/photo1.jpg">
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item lines="none" class="d-flex justify-content-around like_section">
		<ion-item lines="none" class="p-2 "><img src="assets/images/like.png"><span
				class="numbering all_text">1,998</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/comment.png"><span
				class="numbering all_text">50</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/user_search.png"><span
				class="numbering all_text">2,000</span></ion-item>
		<ion-item lines="none" class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal">
				<img class="option_img" src="assets/images/option.png"></button>
			<span class=" all_text option_txt">1,000</span>
		</ion-item>
	</ion-item>
	<ion-item lines="none" class="block_seven Seprater">
		<ion-row class="row">
			<ion-col size="4" class="col-md-2 col-xs-2 ">
				<img class="user_2" src="assets/images/bg_user.png">
			</ion-col>
			<ion-col size="8" class="col-md-10 col-xs-10 darerelative">
				<ion-input class="inputShape user_3 all_text" type="text" name="" placeholder="write a comment">
					<div class="size1">
						<img class="same_sm" src="assets/images/smile.png">
						<img class="same_ca" src="assets/images/camera_aware.png">
						<img class="same_ve" src="assets/images/vedio.png">
					</div>
				</ion-input>
			</ion-col>
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="#"><img class="user_2" src="assets/images/bg_user.png"></a>
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a class="name_link" href="#"><span class="dare_bold all_text">Name </span></a> <span class="dareto">dare
				to</span><span class="dare_bold"><a class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</ion-item>
	<p class="all_text para">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<ion-item lines="none" class="banner_one">
		<ion-row class="row">
			<ion-col class="col-md-12 ">
				<img class="banner_dare" src="assets/images/photo3.jpg">
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item lines="none" class="d-flex justify-content-around like_section">
		<ion-item lines="none" class="p-2 "><img src="assets/images/like.png"><span
				class="numbering all_text">1,998</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/comment.png"><span
				class="numbering all_text">50</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/user_search.png"><span
				class="numbering all_text">2,000</span></ion-item>
		<ion-item lines="none" class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal">
				<img class="option_img" src="assets/images/option.png"></button>
			<span class=" all_text option_txt">1,000</span>
		</ion-item>
	</ion-item>
	<ion-item lines="none" class="block_seven Seprater">
		<ion-row class="row">
			<ion-col size="4" class="col-md-2 col-xs-2 ">
				<img class="user_2" src="assets/images/bg_user.png">
			</ion-col>
			<ion-col size="8" class="col-md-10 col-xs-10 darerelative">
				<ion-input class="inputShape user_3 all_text" type="text" name="" placeholder="write a comment">
					<div class="size1">
						<img class="same_sm" src="assets/images/smile.png">
						<img class="same_ca" src="assets/images/camera_aware.png">
						<img class="same_ve" src="assets/images/vedio.png">
					</div>
				</ion-input>
			</ion-col>
		</ion-row>
	</ion-item>
</div>
</ion-content>
<ion-footer class="center">
	<ion-row>
		<ion-col>
			<a href="start_page.html"><img src="assets/images/home.png"></a>
		</ion-col>
		<ion-col>
			<a href="dare.html"><img src="assets/images/dare.png"></a>
		</ion-col>
		<ion-col>
			<a href="aware.html"><img src="assets/images/aware.png"></a>
		</ion-col>
		<ion-col>
			<a href="profile.html"><img src="assets/images/user2.png"></a>
		</ion-col>
	</ion-row>
</ion-footer>