
/* =================================================
                        Profile
   ================================================= */
 .profile_follow {
    display: flow-root;
    width: 100%;
}
#pp {
    padding: 0px 25px 0px 25px;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.profile_border {
    border: 1px solid #f3f3f3;
    padding-top: 13px;
    margin-bottom: 15px;
    background: #fafafa;
    border-left: none;
    border-right: none;
}
.profile_texts1 {
    padding-right: 120px;
}
.profile_photo {
    padding-right: 10px;
}
.profile_photo1 {
    width: 100%;
}
.Seprater {
    border-bottom: 1px solid gainsboro !important;
    padding-bottom: 17px;
}
.image_top {
    position: absolute;
    bottom: 30%;
    left: 41%;
    margin-left: 35%;
    background: #e5e5e5;
    padding: 3px 9px 3px 9px;
}
.edit_profile {
    padding-top: 10px;
    margin-left: 36%;
}
.edit-txts_main {
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
    margin-top: 2px;
    margin-left: 46%;
}
.dare_text {
    margin-top: 13px;
    margin-left: 3px;
    text-align: center;
    margin-left: -1em;
}
.headerName{
    float: left !important;
    margin-left: 43% !important;
    margin-top: 1% !important;
}
.stripGray{
    
    margin-top: -6px;
    border-left: none;
    border-right: none;
    background: #fafafa !important;
    width: 38em !important;
    margin-left: 0em !important;
}
.para{
    margin-left: 2em !important;
}
.inputShape{
    
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    width: 30em;
    padding: 4px !important;
    
}
.contentStyle{
    width: 60%;
}
.scrollBar{
    overflow-y: var(--overflow); 
    position: absolute;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    overflow-x: hidden; 
    
    }
.ion_row{
    width: 38em;
}
.img_style{
    float: left !important; 
    margin-top: 1% !important;
}
.hdr_clr{
    margin-left: 0%;
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 60%;
    z-index: 10;
    background-color:#7b98d6 !important
}
.ion_toolbar{
    background-color:#7b98d6 !important;
}
.ion_ttl_clr{
    background:#7b98d6;
}
@media (min-width: 320px) and (max-width: 360px) {
    .hdr_clr{
        margin-left: 0%;
        display: block;
        position: relative;
        order: -1;
        width: 100%;
        z-index: 10;
        background-color: #7b98d6 !important;
    }
    .contentStyle{
        width: 100%;
    }
}
@media (min-width: 360px) and (max-width: 410px) {
    .hdr_clr{
        margin-left: 0%;
        display: block;
        position: relative;
        order: -1;
        width: 100%;
        z-index: 10;
        background-color: #7b98d6 !important;
    }
    .contentStyle{
        width: 100%;
    }
}
@media (min-width: 411px) and (max-width: 599px) { 
    .hdr_clr{
        margin-left: 0%;
        display: block;
        position: relative;
        order: -1;
        width: 100%;
        z-index: 10;
        background-color: #7b98d6 !important;
    }
    .contentStyle{
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 767px) { 
    .hdr_clr{
        margin-left: 0%;
        display: block;
        position: relative;
        order: -1;
        width: 100%;
        z-index: 10;
        background-color: #7b98d6 !important;
    }
    .contentStyle{
        width: 100%;
    }
}
/*iPad*/
@media (min-width: 768px) and (max-width: 1023px) { 
    .hdr_clr{
        margin-left: 0%;
        display: block;
        position: relative;
        order: -1;
        width: 100%;
        z-index: 10;
        background-color: #7b98d6 !important;
    }
    .contentStyle{
        width: 100%;
    }
  }