<ion-header style="background-color:#7b98d6 !important">
	<ion-toolbar color="#7b98d6 !important" style="background-color:#7b98d6 !important">
		<ion-title style="background:#7b98d6;">
			<img src="assets/images/left_arrow.png" class="darwarHrader"
				style="float: left !important; margin-top: 1% !important;">
			<h4 class="headerName create_txt darwarHrader">Name</h4>
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<span class="col-md-12 text-center profile_img">
		<img class="edit_profile" src="assets/images/profile.png">
		<div class="image_top">
			<div class="edit_top_img">
				<img src="assets/images/camera.png">
				<b class="edit_two">Edit</b>
			</div>
		</div>
		<p class="edit-txts_main">Name</p>
	</span>

	<ion-item lines="none" class="profile_follow">
		<ion-row class="d-flex justify-content-around" style="width: 38em;">
			<ion-col size="3" class="p-2 dare_text cursor "><b>600</b>
				<P class="color all_text cursor">Dare</P>
			</ion-col>
			<ion-col size="3" class="p-2 dare_text cursor"><b>800</b>
				<p class="color all_text cursor cursor">Aware</p>
			</ion-col>
			<ion-col size="3" class="p-2 dare_text cursor"><b>900</b>
				<p class="color all_text cursor">Followers</p>
			</ion-col>
			<ion-col size="3" class="p-2 dare_text cursor"><b>600</b>
				<p class="color all_text cursor">Followers</p>
			</ion-col>
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="profile_border">
		<ion-row class="stripGray d-flex justify-content-around -edit_profile main_position">
			<ion-col class="p-2 center ">
				<p><a class="color all_text cursor profile_texts" href="#">Photos</a></p>
			</ion-col>
			<ion-col class="p-2  center ">
				<p><a id="pp" class="color all_text cursor profile_texts" href="#">Dare</a></p>
			</ion-col>
			<ion-col class="p-2 center ">
				<p><a class="color all_text cursor profile_texts" href="#">Aware</a></p>
			</ion-col>
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="#"><img class="user_2" src="assets/images/bg_user.png"></a>
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a class="name_link" href="#"><span class="dare_bold all_text">Name </span></a> <span class="dareto">dare
				to</span><span class="dare_bold"><a class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</ion-item>
	<p class="all_text para">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<ion-item lines="none" class="banner_one">
		<ion-row class="row">
			<ion-col class="col-md-12 ">
				<img class="banner_dare" src="assets/images/photo1.jpg">
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item lines="none" class="d-flex justify-content-around like_section">
		<ion-item lines="none" class="p-2 "><img src="assets/images/like.png"><span
				class="numbering all_text">1,998</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/comment.png"><span
				class="numbering all_text">50</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/user_search.png"><span
				class="numbering all_text">2,000</span></ion-item>
		<ion-item lines="none" class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal">
				<img class="option_img" src="assets/images/option.png"></button>
			<span class=" all_text option_txt">1,000</span>
		</ion-item>
	</ion-item>
	<ion-item lines="none" class="block_seven Seprater">
		<ion-row class="row">
			<ion-col size="4" class="col-md-2 col-xs-2 ">
				<img class="user_2" src="assets/images/bg_user.png">
			</ion-col>
			<ion-col size="8" class="col-md-10 col-xs-10 darerelative">
				<ion-input class="inputShape user_3 all_text" type="text" name="" placeholder="write a comment">
					<div class="size1">
						<img class="same_sm" src="assets/images/smile.png">
						<img class="same_ca" src="assets/images/camera_aware.png">
						<img class="same_ve" src="assets/images/vedio.png">
					</div>
				</ion-input>
			</ion-col>
		</ion-row>
	</ion-item>

	<ion-item lines="none" class="d-flex bd-highlight">
		<div class="img_cont">
			<a href="#"><img class="user_2" src="assets/images/bg_user.png"></a>
			<span class="online_icon"></span>
		</div>
		<div class="user_info">
			<a class="name_link" href="#"><span class="dare_bold all_text">Name </span></a> <span class="dareto">dare
				to</span><span class="dare_bold"><a class="name_link" href="#"> Friend Name</a></span>
			<p class="color sub_txt">20 December at 04:36. Location.</p>
		</div>
	</ion-item>
	<p class="all_text para">Lorem ipsum dolor sit amet,consectetur adipisicing elit,</p>
	<ion-item lines="none" class="banner_one">
		<ion-row class="row">
			<ion-col class="col-md-12 ">
				<img class="banner_dare" src="assets/images/photo3.jpg">
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item lines="none" class="d-flex justify-content-around like_section">
		<ion-item lines="none" class="p-2 "><img src="assets/images/like.png"><span
				class="numbering all_text">1,998</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/comment.png"><span
				class="numbering all_text">50</span></ion-item>
		<ion-item lines="none" class="p-2 "><img src="assets/images/user_search.png"><span
				class="numbering all_text">2,000</span></ion-item>
		<ion-item lines="none" class="p-2 ">
			<button type="button" class="btn btn-info btn-lg start_popup" data-toggle="modal" data-target="#myModal">
				<img class="option_img" src="assets/images/option.png"></button>
			<span class=" all_text option_txt">1,000</span>
		</ion-item>
	</ion-item>
	<ion-item lines="none" class="block_seven Seprater">
		<ion-row class="row">
			<ion-col size="4" class="col-md-2 col-xs-2 ">
				<img class="user_2" src="assets/images/bg_user.png">
			</ion-col>
			<ion-col size="8" class="col-md-10 col-xs-10 darerelative">
				<ion-input class="inputShape user_3 all_text" type="text" name="" placeholder="write a comment">
					<div class="size1">
						<img class="same_sm" src="assets/images/smile.png">
						<img class="same_ca" src="assets/images/camera_aware.png">
						<img class="same_ve" src="assets/images/vedio.png">
					</div>
				</ion-input>
			</ion-col>
		</ion-row>
	</ion-item>
</ion-content>