<ion-content class="container">
  <div>
    <ion-list lines="none" padding-start padding-end margin-bottom>
        <ion-row>
            <ion-col style="text-align: center;">
                <img src="/assets/images/0001.png" >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
                <ion-label class="header_txt" ><h3>Lorem ipsum dolor sit amet</h3></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="sub_txt" >
                <ion-label class="all_text">Lorem ipsum dolor sit amet,cotur adipisicing elit,sed <br>
                   do eiusmod tempor incididunt.</ion-label>
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col class="txt_css"   >
          <ion-input  placeholder="Phone number, username, or email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="instructions-row" > 
        <ion-col style="margin-top: 15px !important;">
          <ion-button class="btn_css" >
              Send Login Link
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="lbl_mrgn" >
          <ion-label  >OR</ion-label>
        </ion-col>
      </ion-row>
      <ion-row  class="raw_forget">
        <ion-col>
            <a class="forget" href="/edit" >Create New Account</a>       
           </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btn_signin">
          <ion-input   placeholder="Back To Login" (click)="gotoback()"> </ion-input>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>