.btn_css{
    margin-top: -25px;
    width: 100%;
    height: 30px;
    font-size: 10px;
   
}
.txt_css{
    // margin-left: 20%;
    background: #fafafa;
    font-size: 11px;
    margin-bottom: 10px;
    width: 100%;
    // margin-right: 25%;
}
.anch{
    margin-left: 35%;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    padding: 20px;
}
.btn_signin{
    font-size: 14px;
    text-align: center;
    background: #fafafa;
    border: 2px solid #f3f3f3;
    width: 100%;
    height: 44px;
}

.frgt_mrgn{
    margin-left: 23%;
    padding: 30px;
    cursor: pointer;
}
.lbl_mrgn{
    text-align: center;
}
.lbl_get{
    margin-left: 33%;
    margin-top: 45px;
    margin-bottom: 26px;
}
.Ggl_btn{
    margin-left: 13%;
}

.header_txt {
   
    font-weight: bold;
}
.header_txt h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header_txt p {
    font-weight: 500;
	padding-bottom: 10px;
}
.all_text {
    font-size: 12px;
    font-weight: 500;
}
.sub_txt{
    margin-bottom: 20px;
    text-align: center;
}
.forget {
    color: #999999;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 20px;
}
.raw_forget{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
   
}
// @media screen and (min-width: 1024px) {
// 	.txt_css{
//         background: #fafafa;
//         font-size: 11px;
//         margin-bottom: 10px;
//         width: 100%;
//     }
// }

@media (min-width: 1200px){
   .container {
    width: 60%;
    }
}