<ion-header class="hdr_style" >
	<ion-grid>
		<ion-row>
			<ion-col size="1">
				<a ion-button color="secondary" href="create_dare_and_aware.html">
					<img class="logo_notefication_user" src="assets/images/user.png">
				</a>
			</ion-col>
			<ion-col size="10">
				<ion-toolbar color="blueHeader">
					<ion-searchbar placeholder="Search..." color="light"></ion-searchbar>
				</ion-toolbar>
			</ion-col>
			<ion-col size="1">
				<img class="logo_notefication_well" src="assets/images/well.png">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content class="scroll-bar1">
	<ion-item lines="none" class="formFull" id="bg">
		<ion-row class="d-flex justify-content-between right ">
			<ion-col>
				<h4 class="text1">Result for Friends</h4>
			</ion-col>
			<ion-col class="p-2"><img class="logo pointImg top" src="assets/images/points.png"></ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<button class="button1 language col-xs-4 all_text" id="Friend">Follow </button>
			</ion-col>
		</ion-row>
	</ion-item>


	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<button class="button1 language col-xs-4 all_text" id="Friend">Follow </button>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<button class="button1 language col-xs-4 all_text" id="Friend">Follow </button>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<span class="p-2"><img class="user_pic userPic" src="assets/images/user1.png"></span>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item lines="none" class="formFull" id="bg">
		<ion-row class="d-flex bd-highlight main_note_txt search note-seprater">
			<ion-col class="img_cont text1">
				<img class="logo_notefication" src="assets/images/001.png">
				<span class="online_icon"></span>
			</ion-col>
			<ion-col class="d-flex justify-content-between col-xs-10 follow-search">
				<span class="user_search col-xs-8 all_text">Aarti</span></ion-col>
			<ion-col>
				<button class="button1 language col-xs-4 all_text" id="Friend">Follow </button>
			</ion-col>
		</ion-row>
	</ion-item>
</ion-content>

<ion-footer class="center">
	<ion-row>
		<ion-col>
			<a href="start_page.html"><img src="assets/images/home.png"></a>
		</ion-col>
		<ion-col>
			<a href="dare.html"><img src="assets/images/dare.png"></a>
		</ion-col>
		<ion-col>
			<a href="aware.html"><img src="assets/images/aware.png"></a>
		</ion-col>
		<ion-col>
			<a href="profile.html"><img src="assets/images/user2.png"></a>
		</ion-col>
	</ion-row>
</ion-footer>