.text1{
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    width:10em;
}
.hdr_style{
    background-color:#7b98d6 !important
}
.formFull{
    width: 39em;
    margin: 0 auto;
    margin-top: 7px;
}

.pointImg{
    padding-top: 10px;
    margin-left: 23em;
    margin-top: 1em;
}
.button1{
    padding: 10px 15px 10px 15px !important;
    margin: 4px;
    margin-left: 25em !important;
    border: none;
}
.userPic
{
    margin-left: 20em !important;
}
